 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <img src="{{ "/assets/img/cpp.png" | prepend: site.baseurl }}" alt="C++ Logo">
      <img src="{{ "/assets/img/csharp.png" | prepend: site.baseurl }}" alt="C# Logo">
      <img src="{{ "/assets/img/python.png" | prepend: site.baseurl }}" alt="Python Logo">
      <p>Experience and education using prominent, industry-leading programming languages including, but not limited to, C++, C#, and Python.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="{{ "/assets/img/Unity3D.png" | prepend: site.baseurl }}" alt="Unity Logo">
      <img src="{{ "/assets/img/Perforce.jpg" | prepend: site.baseurl }}" alt="Perforce Logo">
      <img src="{{ "/assets/img/Trello.png" | prepend: site.baseurl }}" alt="Trello Logo">
      <p>Game Development and Design experience using the Unity3D engine, as well as file sharing and production planning using State-of-the-Art software such as Perforce and Trello.</p>
    </div>
</div>
