<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{% if page.username %}{{ page.username }}{% else %}{{ site.username }}{% endif %}</span>
        <span class="site-description">{% if page.user_title %}{{ page.user_title }}{% else %}{{ site.user_title }}{% endif %}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="#"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href={% if page.focus %}{{ page.focus }}{% else %}"#about"{% endif %} data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
