<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="OBLogo" src="{{ "/assets/img/OctoberBabies/OctoberBabiesLogo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> October Babies </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>A Kinect infinite-runner game for 1 or 2 players. The player uses their arms and torso, flapping and leaning, to control a stork delivering babies during the most dangerous time of all: Halloween.</p>
    <a class="project-link" href="{{ "/OctoberBabies/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="RELogo" src="{{ "/assets/img/RuntimeError/RuntimeErrorLogo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Runtime Error </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>A Meta 2 experience in which the guest uses their hands to form bridges and swat away enemies so that a friendly AI companion can save the computer from permanent corruption.</p>
    <a class="project-link" href="{{ "/RuntimeError/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
