<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/OctoberBabies/" | prepend: site.baseurl }}">
      <img alt="OBLogo" src="{{ "/assets/img/OctoberBabies/OctoberBabiesLogo.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> October Babies </h3>
    <ul>
      <li> Game Design</li>
      <li> Playtesting</li>
    </ul>
    <p>A Kinect infinite-runner game for 1 or 2 players. The player uses their arms and torso, flapping and leaning, to control a stork delivering babies during the most dangerous time of all: Halloween.</p>
    <a class="project-link" href="{{ "/OctoberBabies/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="{{ "/RuntimeError/" | prepend: site.baseurl }}">
      <img alt="RELogo" src="{{ "/assets/img/RuntimeError/RuntimeErrorLogo.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3> Runtime Error </h3>
    <ul>
      <li> Rapid Prototyping</li>
      <li> AR</li>
    </ul>
    <p>A Meta 2 experience in which the guest uses their hands to form bridges and swat away enemies so that a friendly AI companion can save the computer from permanent corruption.</p>
    <a class="project-link" href="{{ "/RuntimeError/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/ThroughTheStorm/" | prepend: site.baseurl }}">
      <img alt="TTSLogo" src="{{ "/assets/img/ThroughTheStorm/ThroughTheStormLogo.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> Through the Storm </h3>
    <ul>
      <li> Storytelling</li>
      <li> VR</li>
    </ul>
    <p>An HTC Vive experience in which the guest will use tools in the shape of a shield and magical wand to protect/guide their giant caterpillar companion through a terrifying storm. </p>
    <a class="project-link" href="{{ "/ThroughTheStorm/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <a href="{{ "/KingOfTheRing/" | prepend: site.baseurl }}">
      <img alt="KotRLogo" src="{{ "/assets/img/KingOfTheRing/KotRLogo.png" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents-right">
    <h3> King of the Ring </h3>
    <ul>
      <li> Playtesting</li>
      <li> Iteration</li>
    </ul>
    <p>Four players use wheels and drums to control exciting sports figures, knocking each other and grabbing the Championship belt to become King of the Ring!</p>
    <a class="project-link" href="{{ "/KingOfTheRing/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="{{ "/GrandpasLostLegacy/" | prepend: site.baseurl }}">
      <img alt="GLLDesk" src="{{ "/assets/img/GpaLostLegacy/GLLDesk.jpg" | prepend: site.baseurl }}" />
    </a>
  </div>
  <div class="contents">
    <h3> Grandpa's Lost Legacy </h3>
    <ul>
      <li> Game Design</li>
      <li> Playtesting</li>
    </ul>
    <p>An HTC Vive experience that focuses on naive guest testing. The guest is guided around a small group of mystical stones by some helpful fireflies, and uses a large staff to fill in ancient stone patterns to discover buried secrets and vindicate their Grandfather.</p>
    <a class="project-link" href="{{ "/GrandpasLostLegacy/" | prepend: site.baseurl }}">Check it out</a>
  </div>
</div>
